@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Embroidery World</h1>
    <p>Kader Bozkurt</p>
    <p>Current time is @DateTime.Now</p>
</div>
